<div class="d-flex justify-content-center mt-3 mb-3">
  <div class="card" style="width: 18rem;">
    
    <div class="card-header">
      <h5>
          <%=salads[0].category%>
      </h5>
  </div>

  <ul class="list-group list-group-flush">
    <%for(let salad of salads) {%>  
    <li class="list-group-item">
      <div class="card" style="width: 15rem;">
          <div class="card-body">
            <form action="/foods/cart/<%=id%>/orders" method="post">
              <h5 class="card-title">
                  <input type="text" name="food" id="food" 
                         value="<%=salad.name%>" readonly>
             </h5>
             <p class="card-text">
                  <%=salad.details%>
             </p>
              <h5 class="card-subtitle mb-2">
                  <input type="number" name="price" id="price" 
                         value="<%=salad.price%>" readonly>
             </h5>
             <%- include('../partials/menu_buttons') %>

            </form> 
          </div>
        </div>
    </li>
    <%}%>
     
  </ul>


  </div>
  
</div>
