<div class="d-flex justify-content-center mt-3 mb-3">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5>
                <%=salads[0].category%>
            </h5>
        </div>
        <ul class="list-group list-group-flush">
          <%for(let salad of salads) {%>  
          <li class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">
                      <%=salad.name%>
                  </h5>
                  <p class="card-text">
                    <%=salad.details%>
                </p>
                  <h5 class="card-subtitle mb-2">
                     <%=salad.price%> 
                 </h5>
                 <%- include('../partials/menu_buttons') %>
                </div>
              </div>
          </li>
          <%}%>
           
        </ul>
      </div>
</div>