<% layout('layouts/template') %>
<section class="cart-section">
   
    <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < cart.orders.length; i++) { %>
          <tr>
            <td><%=cart.orders[i].food%></td>
            <td><%=cart.orders[i].price%></td>
            <td><%=cart.orders[i].quantity%></td>
            <td><%=cart.orders[i].amount%></td>
          </tr>
          <% } %>
        </tbody>
        <tfoot>
          <form action="/foods/cart/<%=cart._id%>/purchase" method="post">
            <tr>
              <td></td>
              <td></td>
              <td>Total:</td>
              <td>
                <input type="Number" name="total" id="total" readonly>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-primary">Order</button>
              </td>
              <td></td>
            </tr>

          </form>
        </tfoot>
      </table>

</section>